<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
</head>
<body>
    <h1>Hello to the homepage</h1>
     <div>
        <div>
            <div>
                <form action="{{url_for('prereg')}}" method="POST">
                    <div class="input-group">
                        <input class="form-control input-lg" title="Don't worry. We hate spam, and will not share your email with anyone." placeholder="Enter your email address" type="email" name="email">
                        <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="submit">GO</button></span>
                    </div>
                </form>
            </div>
        </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
</body>
</html>